#
# An * ensures that everything will be ignored.
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.vscode

# Ignore folders.
.vscode
.storage
.cloud
.google.token
/glances/*
deps
.uuid
*.html
*.fault
/tts
/www/audio/*
/www/community/*/*
/custom_components/*/*
/node-red/*
/helpers/microsoft-speech
/zigbee2mqtt/*
/sensors/snmp.yaml
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
scripts.yaml
secrets.yaml
known_devices.yaml
/nest/*
/image/
/secrets.yaml
/esphome/secrets.yaml
/esphome/includes/secrets.yaml
/glances
/double-take
/custom_components
/blueprints/
google_api.json
users-list
Rpi_server_private_key
entity_log.txt
/www/community
/www/makis_2.jpg
/www/makis.jpg
/www/pavlina.jpg
/www/sofia.jpg
/www/thanasis.jpg
*.disabled
alexa*.html
*.log
*.log.1
frigate.yml
twilio-credentials.sh
.sonoff.json