# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
# /.esphome/

#no need for this as secrets are elsewhere
# /secrets.yaml

# **/.pioenvs/
# **/.piolibdeps/
# **/lib/
# **/src/
# **/*.csv

# ignore everything apart from config files (yaml / .h / substitutions) 
**/
**/platformio.ini
!/common_substitutions
!/fonts
!*.yaml
!*.h